<form action="/appointment/{{data._id}}?_method=PUT" method="POST" class="fade-in mb-2 pb-3 needs-validation" novalidate>
    <input type="hidden" name="_method" value="PUT">
    <fieldset>
    <legend>Modificar cita Médica</legend>

    <div class="row p-2">
      <div class="form-group col-12">
        <label for="doctor" class="form-label mt-3">ID Doctor:</label>
        <input
          type="text"
          class="form-control"
          name="doctor"
          id="doctor"
          value="{{data.doctor}}"
          required
        />
        {{!-- PACIENTE --}}
     
        <label for="client" class="form-label mt-3">ID Paciente:</label>
        <input
            type="text"
            class="form-control"
            name="client"
            id="client"
            value="{{data.client._id}}"
            required
            />
        <div class="invalid-feedback">
        Ingresar ID del paciente
        </div>
        {{!-- PRECIO --}}
        <label for="price" class="form-label mt-3">Precio:</label>
        <input
          type="text"
          class="form-control"
          name="price"
          id="price"
          value="{{data.price}}"
          required
        />
        <div class="invalid-feedback">
          Debes ingresar el precio
        </div>
        {{!-- FECHA --}}
        <div class="mb-3">
            <label for="date" class="form-label">Fecha</label>
            <input type="date" class="form-control" id="date" name="date" value="{{date}}" required>
        </div>    
        <div class="invalid-feedback">
          Debes ingresar el Fecha
        </div>
        <div class="mb-3">
            <label for="appointmentTime" class="form-label">Hora</label>
            <input type="time" class="form-control" name="appointmentTime" id="appointmentTime" value="{{data.appointmentTime}}">
        </div>
        {{!-- ESTADO --}}
        <label for="appointmentTime" class="form-label mb-1">Estado</label>
        <select 
            class="form-selec mb-3 w-100 p-2 rounded" 
            id="status" 
            name="status"
            >
             <option value="Pending" selected>Pendiente</option>
             <option value="Confirmed">Confirmada</option>
             <option value="Completed">Completada</option>
             <option value="Cancelled">Cencelada</option>
        </select>

      {{!-- ACTIVA --}}
       <fieldset class="form-group col-md-4 text-center">
        <div class="d-flex">
        <p style="padding-right: 1rem;">Estado:</p>
            <div class="form-check me-5">
                <input 
                    class="form-check-input" 
                    type="radio" 
                    name="active" 
                    id="optionsRadios1" 
                    value="true" 
                    checked=""
                    >
                <label class="form-check-label" for="optionsRadios1">
                    Activo
                </label>
        </div>
        <div class="form-check">
            <input 
                    class="form-check-input" 
                    type="radio" 
                    name="active" 
                    id="optionsRadios2" 
                    value="false">
            <label class="form-check-label" for="optionsRadios2">
                Inactivo
            </label>
        </div>
        </div>
        </fieldset>
        <div class="row">
          <div class="col-md-4">
            <button type="reset" class="btn btn-warning mt-1 mb-1 w-100">Resetear</button>
          </div>
          <div class="col-md-4">
              <button type="submit" class="btn btn-primary mt-1 mb-1 w-100">Modificar</button>
          </div>
          <div class="col-md-4">
            <a href="/appointment" class="btn btn-danger w-100 mt-1">Cancelar</a>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>