<div class="container" style="padding-top: 5rem;">
  <form
    action="/images/{{data._id}}"
    method="POST"
    class="fade-in mb-5 mt-5 needs-validation"
    novalidate
    enctype="multipart/form-data"
  >
    <div class="row">
      <div class="col-6">
        <fieldset>
          <legend>Editar foto de perfil</legend>
          <div class="mb-3 p-2 mt-3">
            <label for="image" class="form-label">Subir imagen:</label>
            <input
              type="file"
              class="form-control"
              name="image"
              accept="image/*"
              id="image"
              required
            />
            <div id="passwordHelpBlock" class="form-text">
              Las extensiónes validas son: jpg jpeg y png.
            </div>
            <div class="invalid-feedback">
              Selecciona una imagen.
            </div>
          </div>
        </fieldset>
      </div>
      <div class="col-6 image-update">
        {{#if data.image}}
          <img
            src={{data.image}}
            alt="avatar"
            class="rounded-circle img-profile"
          />
        {{else}}
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
            alt="avatar"
            class="rounded-circle img-profile"
          />
        {{/if}}
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-4">
        <button type="reset" class="btn btn-warning mt-3 mb-1 w-100">Resetear</button>
      </div>
      <div class="col-4">
        <button type="submit" class="btn btn-primary mt-3 mb-1 w-100">Actualizar</button>
      </div>
    </div>
  </form>
  <form
    action="/user/{{data._id}}?_method=PUT"
    method="POST"
    class="fade-in needs-validation"
    id="updateForm"
    novalidate
  >
    <input type="hidden" name="_method" value="PUT" />
    <div class="row mb-3">
      <fieldset class="form-group border p-3 mt-3">
        <legend>Editar información personal</legend>
        <div class="row">
          <div class="form-group col-6">
            <label for="firstname" class="form-label mt-3">Nombre(s):</label>
            <input
              type="text"
              class="form-control"
              name="firstname"
              id="firstname"
              value="{{data.firstname}}"
              required
            />
            <div class="invalid-feedback">
              Debes ingresar un nombre
            </div>
          </div>
          <div class="form-group col-6">
            <label for="lastname" class="form-label mt-3">Apellido(s):</label>
            <input
              type="text"
              class="form-control"
              name="lastname"
              id="lastname"
              value="{{data.lastname}}"
              required
            />
            <div class="invalid-feedback">
              Debes ingresar un apellido
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6">
            <label for="email" class="form-label mt-3">Correo:</label>
            <input
              type="email"
              class="form-control"
              name="email"
              id="email"
              value="{{data.email}}"
              required
            />
            <div class="invalid-feedback">
              Debes ingresar un email
            </div>
          </div>

        </div>
        <div class="row">
          <div class="form-group col-6">
            <label for="phoneNumber" class="form-label mt-3">Teléfono:</label>
            <input
              type="tel"
              class="form-control"
              name="phoneNumber"
              id="phoneNumber"
              value="{{data.phoneNumber}}"
              {{!-- required --}}
            />
            {{!-- <div class="invalid-feedback">
              Debes ingresar un número de teléfono
            </div> --}}
          </div>
          <div class="form-group col-6">
            <label for="cellphone" class="form-label mt-3">Celular:</label>
            <input
              type="tel"
              class="form-control"
              name="cellphone"
              id="cellphone"
              value="{{data.cellphone}}"
              required
            />
            <div class="invalid-feedback">
              Debes ingresar un número de celular
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6">
            <label for="adress" class="form-label mt-3">Dirección:</label>
            <input
              type="text"
              class="form-control"
              name="adress"
              id="adress"
              value="{{data.adress}}"
              {{!-- required --}}
            />
            {{!-- <div class="invalid-feedback">
              Debes ingresar tu dirección
            </div> --}}
          </div>
          <div class="col-6">
            <label for="locality" class="form-label mt-3">Localidad:</label>
            <input
              type="text"
              class="form-control"
              name="locality"
              id="locality"
              value="{{data.locality}}"
              {{!-- required --}}
            />
            {{!-- <div class="invalid-feedback">
              Debes ingresar una localidad
            </div> --}}
          </div>
          <input type="hidden" name="idClient" value="{{data._id}}">
          {{data._id}}
        </div>
      </fieldset>
    </div>
    <div class="row">
      <fieldset class="form-group border p-3 mt-3">
        <legend class="w-auto px-6">Actualizar contraseña</legend>
        <div class="row">
          <div class="form-group col-7">
            <label for="password" class="form-label mt-3">Contraseña actual:</label>
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              autocomplete="off"
            />
            <div class="invalid-feedback">
              Debes ingresar tu contraseña actual
            </div>
         
          </div>
          <div class="form-group col-6">
            <label for="newPassword" class="form-label mt-3">Nueva contraseña:</label>
            <input
              type="password"
              class="form-control"
              name="newPassword"
              id="newPassword"
              autocomplete="off"
              disabled
            />
          </div>
          <div class="form-group col-6">
            <label for="confirmPassword" class="form-label mt-3">Confirmar
              contraseña:</label>
            <input
              type="password"
              class="form-control"
              name="confirmPassword"
              id="confirmPassword"
              autocomplete="off"
              disabled
            />
            <div class="valid-feedback">
              Las contraseñas coinciden
            </div>
            <div class="invalid-feedback">
              Las contraseñas no coinciden
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <hr />
    <div class="row mt-3">
      <div class="col-4">
        <button type="reset" class="btn btn-warning mt-3 mb-1 w-100">Resetear
          Formulario</button>
      </div>
      <div class="col-4">
        <button
          type="submit"
          class="btn btn-primary mt-3 mb-1 w-100"
        >Editar</button>
      </div>
      <div class="col-4">
        {{#isEqual user.role 'ADMIN_ROLE'}}
          <a href="/user" class="btn btn-danger mt-3 mb-1 w-100">Cancelar</a>
        {{else}}
          <a href="/user/profile" class="btn btn-danger mt-3 mb-1 w-100">Cancelar</a>
        {{/isEqual}}
      </div>
    </div>
  </form>
</div>