<section style="background-color: #f8f8f8;" class="container mt-4 fade-in">
    <div class="row p-3">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            {{#if user.image}}
              <img src={{user.image}} alt="avatar"
                class="rounded-circle img-profile">
            {{else}}
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-profile">
            {{/if}}
            
            <h5 class="my-3">{{user.firstname}}</h5>
            {{#if user.adress}}
                <p class="text-muted mb-1"><i class="fa-solid fa-location-dot mx-1"></i> {{user.adress}}</p>  
            {{/if}}
            <p class="text-muted mb-4"> <i class="fa-solid fa-hospital-user mx-1"></i> Paciente</p>
            <div class="d-flex justify-content-center mb-2">
              <a href="/user/profile/update/{{user._id}}" class="btn btn-primary">Editar Perfil</a>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center p-3">
                <i class="fas fa-calendar-check fa-lg text-warning"></i>
                <p class="mb-0">Citas Médicas: {{appointmentTotal}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nombre(s)</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.firstname}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Apellido(s)</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.lastname}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Correo</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Teléfono</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.phoneNumber}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Celular</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.cellphone}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Dirección</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.adress}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                {{#if appointment}}
                  {{#customEach appointment user}}
                    <div class="col-md-6">
                      <ul class="list-group">
                      <li class="list-group-item">Fecha: {{date}} - Hora: {{appointmentTime}}</li>
                      <li class="list-group-item list-group-item-success">Doctor: {{doctor.firstname}} {{doctor.lastname}} - Especialidad: {{doctor.category}}</li> 
                      {{#if status}}         
                        <li class="list-group-item list-group-item-info">Estado: Pendiente</li>
                      {{/if}}
                      <form action="/appointment/{{this._id}}?_method=PUT" 
                            method="POST"
                        >
                        <input type="hidden" name="_method" value="PUT">
                        <input type="hidden" value="{{variable._id}}" name="client">
                        <input type="hidden" value="Pending" name="status">
                        <button type="submit" class="btn btn-danger w-100 mt-2"><i class="fa-solid fa-trash"></i>  Eliminar Cita</button>
                      </form>
                    </ul>
                    </div>
                  {{/customEach}}
                  {{else}}
                    <div class="col-md-6">
                      <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center p-3">
                      <i class="fas fa-exclamation fa-lg text-warning rounded-circle" style="background-color: #f8f8f8;"></i>
                      <p class="mb-0">Todavia no tienes Citas Médicas agendadas.</p>
                    </li>
                    </div>
                {{/if}}
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>   
</section>