<div class="container">
  <form
    action="/images/{{data._id}}"
    method="POST"
    class="fade-in mb-5 mt-5 needs-validation"
    novalidate
    enctype="multipart/form-data"
  >
    <div class="row">
      <div class="col-md-6">
        <fieldset>
          <legend>Editar foto de perfil</legend>
          <div class="mb-3 p-2 mt-3">
            <label for="image" class="form-label">Subir imagen:</label>
            <input
              type="file"
              class="form-control"
              name="image"
              accept="image/*"
              id="image"
              required
            />
            <div id="passwordHelpBlock" class="form-text">
              Las extensiónes validas son: jpg jpeg y png.
            </div>
            <div class="invalid-feedback">
              Selecciona una imagen.
            </div>
          </div>
        </fieldset>
      </div>
      <div class="col-md-6 image-update">
        {{#if data.image}}
          <img
            src={{data.image}}
            alt="avatar"
            class="rounded-circle img-profile mt-2"
          />
        {{else}}
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
            alt="avatar"
            class="rounded-circle img-profile"
          />
        {{/if}}
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <button type="reset" class="btn btn-warning  mb-1 w-100">Resetear</button>
      </div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-primary mb-1 w-100">Actualizar</button>
      </div>
    </div>
  </form>
  {{#if edit}}
      <form action="/doctor/{{data._id}}?_method=PUT" method="POST" class="fade-in mb-2 pb-3" >
          <input type="hidden" name="_method" value="PUT">
  {{/if}}
  {{#if create}}
      <form action="/doctor/create" method="POST" class="fade-in mb-2" >
  {{/if}}
  <fieldset class="p-3">
  {{#if edit}}
          <legend>Editar Información</legend>
  {{/if}}
  {{#if create}}
          <legend>Crear un Doctor</legend>
  {{/if}}
    <div class="row mt-2">
        <div class="form-group col-md-6">
            <label for="firstname" class="form-label mt-3">Nombre(s):</label>
            <input
              type="text"
              class="form-control"
              name="firstname"
              id="firstname"
              value="{{data.firstname}}"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="lastname" class="form-label mt-3">Apellido(s):</label>
            <input
              type="text"
              class="form-control"
              name="lastname"
              id="lastname"
              value="{{data.lastname}}"
            />
          </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label
              for="email"
              class="form-label mt-3"
            >Correo:</label>
            <input
              type="email"
              class="form-control"
              name="email"
              id="email"
              value="{{data.email}}"
            />
          </div>
          <div class="form-group col-md-6">
            <label
              for="password"
              class="form-label mt-3"
            >Contraseña:</label>
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              autocomplete="off"
            />
          </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label
              for="phoneNumber"
              class="form-label mt-3"
            >Teléfono:</label>
            <input
              type="tel"
              class="form-control"
              name="phoneNumber"
              id="phoneNumber"
              value="{{data.phoneNumber}}"
            />
          </div>
          <div class="form-group col-md-6">
            <label
              for="consultationPrice"
              class="form-label mt-3"
            >Precio Consulta:</label>
            <input
              type="number"
              class="form-control"
              name="consultationPrice"
              id="consultationPrice"
              value="{{data.consultationPrice}}"
            />
            <small id="consultationPriceHelp" class="form-text text-muted">Ingresa el precio sin comas ni puntos.</small>
          </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label for="category" class="form-label mt-3">Selecciona una categoría</label>
            <select 
                  class="form-select" 
                  id="category" 
                  name="category"
                  {{#isEqual user.role 'DOCTOR_ROLE'}}
                    disabled
                  {{/isEqual}}
                  >
                {{#each data.categories}}
                    <option value={{category}}>{{category}}</option>
                {{/each}}

                {{#if data.category}}
                    <option value={{data.category}}>{{data.category}}</option>
                {{/if}}
              

            </select>
        </div>
        <fieldset class="form-group col-md-4 text-center">
            <p class="m-3">Estado:</p>
            <div class="d-flex justify-content-center">
                <div class="form-check me-5">
                    <input 
                        class="form-check-input" 
                        type="radio" 
                        name="active" 
                        id="optionsRadios1" 
                        value="true" 
                        checked=""
                        {{#isEqual user.role 'DOCTOR_ROLE'}}
                          disabled
                        {{/isEqual}}
                        >
                    <label class="form-check-label" for="optionsRadios1">
                        Activo
                    </label>
            </div>
            <div class="form-check">
                <input 
                      class="form-check-input" 
                      type="radio" 
                      name="active" 
                      id="optionsRadios2" 
                      value="false"
                      {{#isEqual user.role 'DOCTOR_ROLE'}}
                        disabled
                      {{/isEqual}}>
                <label class="form-check-label" for="optionsRadios2">
                    Inactivo
                </label>
            </div>
            </fieldset>
            <div class="form-group col-md-4">
            <label for="role" class="form-label mt-3">Selecciona un rol</label>
            <select 
                  class="form-select" 
                  id="role" 
                  name="role"
                  {{#isEqual user.role 'DOCTOR_ROLE'}}
                    disabled
                  {{/isEqual}}
                  >
                    <option value="DOCTOR_ROLE">Doctor</option>
            </select>
            </div>
    </div>
  </fieldset>
    <hr />
    <div class="row mt-1">
          <div class="col-md-4">
            <button type="reset" class="btn btn-warning  mb-1 w-100">Resetear</button>
         {{#if create}}
            <button type="submit" class="btn btn-primary  mb-1 w-100">Crear</button>
        {{/if}}
          </div>
        {{#if edit}}
          <div class="col-md-4">
            <button type="submit" class="btn btn-primary mb-1 w-100">Editar</button>
          </div>
        {{/if}}

        
        <div class="col-md-4">
          {{#isEqual user.role 'DOCTOR_ROLE'}}
            <a href="/profile" class="btn btn-danger mb-1 w-100">Cancelar</a> 
            {{else}}
          <a href="/doctor" class="btn btn-danger mb-1 w-100">Cancelar</a>

          {{/isEqual}}
        </div>

    </div>
  
</form>

</div>