<div class="container">
  <div class="d-flex justify-content-between p-3">
        <h2>Lista de médicos</h2>
        <a href="doctor/create" class="btn btn-primary d-flex justify-content-center align-items-center h-100" role="button">
          <span><i class="fa-solid fa-user-plus pe-2"></i></span>
          Crear
        </a>
      </div>
  <table id="example" class="table table-striped" style="width:100%">
        <thead>
             <tr>
              <th>ID</th>
              <th>Nombre(s)</th>
              <th>Apellido(s)</th>
              <th>Email</th>
              <th>Teléfono</th>
              <th>Celular</th>
              <th>Categoría</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
           {{#each doctors}}
            <tr> 
                <td>{{_id}}</td>
                <td>{{firstname}}</td>
                <td>{{lastname}}</td>
                <td>{{email}}</td>
                <td>{{phoneNumber}}</td>
                <td>{{cellphone}}</td>
                <td>{{category}}</td>
                <td>{{active}}</td>
                <td>
                  <a href="doctor/{{_id}}" class="btn btn-success read-button" ><i class="fa-regular fa-pen-to-square"></i></a>
                  <a href="" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>