<div class="row">
    <div class="col-md-6 border h-100 mt-3">
        <div class="row">
            <h2 class="pt-2">{{doctor.firstname}} {{doctor.lastname}}</h2>
            <hr>      
                <div class="col-md-6">
                    <figure>
                        {{#if doctor.image}}
                        <img src={{doctor.image}} alt="Foto de perfil del doctor {{doctor.lastname}}"
                            class="rounded-circle img-profile">
                        {{else}}
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                            class="rounded-circle img-profile">
                         {{/if}}
                    </figure>
                </div>
                <div class="col-md-6">
                    <div class="list-group">
                        <li class="list-group-item">{{doctor.lastname}}, {{doctor.firstname}}</li>
                        <li class="list-group-item">{{doctor.category}}</li>
                        <li class="list-group-item">{{doctor.email}}</li>
                    </div>
                </div>
        </div>
        <div class="row">
            <h5 class="border p-2" style="background-color: #2c3e50; text-align: center; color: white;">Citas totales: <span style="font-weight: bold;">{{total}}</span></h5>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            {{#customEach appointments user}}
            <div class="card m-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Cita médica</h5>
                        <div class="form-group col-12">
                            {{!-- FECHA --}}
                            <div class="mb-1">
                                <p>Fecha: {{this.date}}, {{this.appointmentTime}}</p>
                            </div> 
                            {{!-- PRECIO --}}
                            <div class="mb-1">
                            <p>Precio: ${{this.price}}</p>
                            </div>
                            <form 
                                action="/appointment/{{this._id}}?_method=PUT" 
                                method="POST"
                                class="fade-in">
                                <input type="hidden" name="_method" value="PUT">
                                <input type="hidden" value="{{this.doctor._id}}" name="doctor">
                                <input type="hidden" value="{{variable._id}}" name="client">
                                <input type="hidden" value="Confirmed" name="status">
                                <button 
                                    type="submit" 
                                    class="btn btn-warning mt-1 w-100"
                                    {{#isEqual variable.role 'DOCTOR_ROLE'}}
                                        disabled
                                    {{/isEqual}}
                                    >Seleccionar</button>
                            </form>
                        </div>   
                </div>
            </div>
            {{/customEach}}
        </div>
        <div class="row d-flex justify-content-center align-items-center"style="height: 50vh;">
            {{#isEqual total 0}}
            <div class="alert alert-info text-center w-75"  role="alert">
                No se encontro ninguna cita.
            </div>
            {{/isEqual}}
        </div>
    </div>
</div>